{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="items-center pt-[120px] flex flex-col md:h-[90.6vh] bg-cover bg-center bg-no-repeat" style="background-image: url('{{ asset('assets/test-bg.jpg') }}');">

    
        <h1 class="text-[45px] ">
        Le site de mise en relation entre
        <span class="text-blue-500">restaurateur</span>
        et
        <span class="text-blue-500">fournisseur</span>
        </h1>


        <p class="" style="padding-top: 12px; padding-bottom: 12px; font-size:18px;">Dynamisez votre restaurant ou bien trouvez une nouvelle clientèle grâce à une plateforme qui facilite l'accès aux clients de qualité.</p>

        <a href="{{ path('app_sign_up') }}" role="button" class="inline-block text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-[50px]" style="border-radius:15px; width:110px; margin-top: 50px;">Démarrez</a>

        
    </div>

    
{% endblock %}
