{% extends 'base.html.twig' %}

{% block body %}

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom du client
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre de produits commandés
                </th>
                <th scope="col" class="px-6 py-3">
                    Date commande
                </th> 
                <th scope="col" class="px-6 py-3">
                    Statut
                </th> 
                <th scope="col" class="px-6 py-3">
                    Détails commande
                </th>
            </tr>
        </thead>
        <tbody>

{% for order in orders %}
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ order.restaurateur.email }}
        </th>
        <td class="px-6 py-4">
            {{ order.getNumberOfOrderLines }}
        </td>
        <td class="px-6 py-4">
            {{ order.orderDate|date('Y-m-d H:i:s') }}
        </td>
        <td class="px-6 py-4">
            test
        </td>
        <td class="px-6 py-4">
            Voir détails commande >
        </td>
    </tr>
{% else %}
    <tr>
        <td class="py-2 px-4" colspan="6">Aucune commande n'a été passée.</td>
    </tr>
{% endfor %}
            
        </tbody>
    </table>
</div>



{% endblock %}

