{% extends 'base.html.twig' %}

{% block body %}





<div>
    <a href="/" class="flex items-center justify-center mt-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="mx-auto w-15 h-15 mb-2" src="{{ asset('assets/linkeat.png') }}" alt="Logo du site EatLink">
    </a>

    <div class="mt-6 mx-auto max-w-md">
        <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-md" placeholder="Recherche...">
    </div>
</div>

<div style="margin-top: 10vh; text-align: center;">

    <a href="{{ path('suppliers') }}" style="text-decoration: none;">
        <button style="width: 300px;" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
            Découvrir nos fournisseurs
        </button>
    </a>
    <br><br><br>
    <h1 class="text-2xl mb-4">Voici votre liste de fournisseurs :</h1>
    <div id="favoriteSuppliers" class="mt-6"></div>
</div>

<script src="{{ asset('js/affichageFournisseur.js') }}"></script>


<style>
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
</style>
{% endblock %}
