<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('asset/style/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'component/included/_navbar.html.twig' %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('asset/script/script.js') }}"></script>
        {% endblock %}
        
        {# {% include 'layouts/footer.html.twig' %} #}
    </body>
</html>
