{% extends 'base.html.twig' %}

{% block title %}Sign up !{% endblock %}

{% block body %}

<div class=" flex pt-12 flex-col items-center h-[90.5vh] bg-cover bg-center bg-no-repeat" style="background-image: url('{{ asset('assets/test-bg2.jpg') }}">

    <h1 class ="text-[35px] font-Montserrat "> Avant de commencer,</h1>
    <br> 
    <h1 class="text-[35px] font-Montserrat">Dites-nous en plus à propos de vous</h1> 

    <div class="flex flex-col gap-[50px] pt-[70px]">
        <a href="{{ path('app_form_restaurateur') }}" role="button" class="h-[50px] justify-center items-center flex w-[400px] text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-[25px] font-Montserrat">Je suis un restaurateur</a>

        <a href="{{ path('app_form_supplier') }}" role="button" class=" h-[50px] justify-center items-center flex w-[400px] text-blue-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-[25px] font-Montserrat">Je suis un fournisseur</a>
    </div>

     <p class="text-sm font-light text-gray-500 dark:text-gray-400 pt-12">
             Déjà client ? Connectez-vous <a href="{{ path('app_login')}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">ici</a>
    </p>




{% endblock %}
