{% extends 'base.html.twig' %}

{% block title %}Ajout d'un produit{% endblock %}

{% block body %}
    <h1>Ajouter un produit</h1>
    {{ form(form) }}

    <a href="{{ path('app_home_supplier') }}">Retour à la liste</a>
{% endblock %}
